/* ______________________________________________________________________________________________________________________ */
/* Root level Website  */

*{
    margin: 0;
    padding: 0;
}

/* ______________________________________________________________________________________________________________________ */
/* Body  */

    body{
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;

    }

/* ______________________________________________________________________________________________________________________ */
/* Hero Section  */
    .herosection{
        height: 600px;
        width: 100%;
        background-color: red;
        display: flex;
        flex-direction: row;
    }